<template>
  <q-page padding>
    <div class="flex justify-between">
      <p class="text-h6 q-my-auto">Dtrs</p>
    </div>

    <q-page padding class="flex flex-center">
      <div style="width: 100%" v-if="data && data.computed_dtr && !loading">
        <div class="row">
          <div class="col">
            <!-- <q-card outlined class="q-my-sm" style="witdh: 100%">
              <q-card-section>
                <div class="row">
                  <div class="col">
                    <p>
                      <b>Summary</b>
                    </p>
                    <div>
                      <div :key="dayskey" v-for="(daysval, dayskey) in days">
                        <div class="row items-baseline">
                          <div class="col">
                            <p class="text-left q-my-auto">{{ dayskey }}</p>
                          </div>
                          <div class="col">{{ data.daysworked[daysval] }}</div>
                        </div>
                        <q-separator />
                      </div>
                    </div>
                  </div>
                </div>
              </q-card-section>
            </q-card> -->
            <div dense :key="key" v-for="(val, key) in data.computed_dtr">
              <q-card outlined class="q-my-sm" style="witdh: 100%">
                <q-card-section>
                  <p>
                    <b>{{ key }}</b>
                  </p>
                  <div class="row">
                    <div class="col">
                      <p class="q-my-auto">
                        <b>Schedule</b>
                      </p>
                      <div v-if="val.schedule['no_sched'] == false">
                        <div
                          :key="`${schedval}${schedkey}`"
                          v-for="(schedval, schedkey) in schedules"
                        >
                          <div class="row items-baseline">
                            <div class="col">
                              <p class="text-left q-my-auto">
                                {{ schedkey }}
                              </p>
                            </div>
                            <div class="col">
                              {{
                                schedkey == "Restday"
                                  ? val.schedule[schedval]
                                    ? "Yes"
                                    : "No"
                                  : val.schedule[schedval]
                              }}
                            </div>
                          </div>

                          <q-separator />
                        </div>
                      </div>
                      <div v-else>
                        <div class="row">
                          <div class="col">
                            <p class="text-left q-my-auto">No Schedule</p>
                          </div>
                        </div>

                        <q-separator />
                      </div>
                    </div>
                  </div>

                  <div v-if="val.alldtrs.length > 0">
                    <div class="row q-mt-sm">
                      <div class="col">
                        <p class="q-my-auto">
                          <b>DTR</b>
                        </p>

                        <div
                          :key="`${key}${i}`"
                          v-for="(dtr, i) in val.alldtrs"
                        >
                          <div class="row">
                            <div class="col">
                              <p class="text-left q-my-auto">
                                {{ dtr.date }} - {{ dtr.time }} -
                                {{ dtr.type.split(" ")[1].toUpperCase() }}
                              </p>
                            </div>
                          </div>
                          <q-separator />
                        </div>
                      </div>
                    </div>
                    <div class="row q-mt-sm">
                      <div class="col">
                        <p class="q-my-auto">
                          <b>Break down</b>
                        </p>
                        <q-separator />

                        <div
                          v-if="val.dtrs_breakdown.dtrbreakdown.is_rd_and_legal"
                        >
                          <v-row dense class="ml-4">
                            <v-col>
                              <p class="text-left ma-auto">
                                Legal Pay
                                <b> </b>
                              </p>
                            </v-col>
                            <v-col>
                              <p class="text-left ma-auto"></p>
                            </v-col>

                            <v-col cols="3">
                              <div class="d-flex">
                                <div>Amount :</div>
                                <p class="text-right ma-auto mr-10">
                                  <b>
                                    {{ $formatMoney() }}
                                  </b>
                                </p>
                              </div>
                            </v-col>
                          </v-row>

                          <v-divider class="ma-0" />
                        </div>
                        <div
                          class="row"
                          v-if="val.dtrs_breakdown.dtrbreakdown.is_rd_and_legal"
                        >
                          <div class="col">
                            <p class="text-left q-my-auto">
                              Legal
                              <b> </b>
                            </p>
                          </div>
                          <div class="col">
                            <p class="text-left q-my-auto">
                              Hours:
                              <b> 8:00</b>
                            </p>
                          </div>
                        </div>
                        <div
                          class="row"
                          v-if="val.dtrs_breakdown.dtrbreakdown.late > 0"
                        >
                          <div class="col">
                            <p class="text-left q-my-auto">
                              Late
                              <b> </b>
                            </p>
                          </div>
                          <div class="col">
                            <p class="text-left q-my-auto">
                              Hours:
                              <b>
                                {{
                                  val.dtrs_breakdown.dtrbreakdown.late_breakdown
                                    .hours_minutes
                                }}</b
                              >
                            </p>
                          </div>
                        </div>

                        <div
                          class="row"
                          v-if="val.dtrs_breakdown.dtrbreakdown.undertime > 0"
                        >
                          <div class="col">
                            <p class="text-left q-my-auto">
                              Undertime
                              <b> </b>
                            </p>
                          </div>
                          <div class="col">
                            <p class="text-left q-my-auto">
                              Hours:
                              <b>
                                {{
                                  val.dtrs_breakdown.dtrbreakdown
                                    .undertime_breakdown.hours_minutes
                                }}</b
                              >
                            </p>
                          </div>
                        </div>
                        <div
                          :key="`${depval}${depkey}`"
                          v-for="(depval, depkey) in val.dtrs_breakdown
                            .deps_dtr_breakdown"
                        >
                          <div
                            :key="`${dep}${dpkey}`"
                            v-for="(dep, dpkey) in depval"
                          >
                            <div v-if="payrollsettingmapped[dpkey]" class="row">
                              <div class="col">
                                <p class="text-left q-my-auto">
                                  <b>
                                    {{
                                      `${val.dtrs_breakdown.deps_dtr_breakdown[depkey]["pair"][0].time} - ${val.dtrs_breakdown.deps_dtr_breakdown[depkey]["pair"][1].time}`
                                    }}</b
                                  >
                                </p>
                              </div>

                              <div class="col">
                                <p class="text-left q-my-auto">
                                  Hours:
                                  <b> {{ dep.hours_minutes }}</b> (
                                  {{ payrollsettingmapped[dpkey] }})
                                </p>
                              </div>
                            </div>
                          </div>
                          <q-separator />
                        </div>

                        <div>
                          <div class="row">
                            <div class="col">
                              <p class="text-left q-my-auto">
                                <b> TOTAL</b>
                              </p>
                            </div>

                            <div class="col">
                              <p class="text-left q-my-auto">
                                Hours:
                                <b>{{
                                  val.dtrs_breakdown.dtrbreakdown.total
                                    .hours_minutes
                                }}</b>
                              </p>
                            </div>
                          </div>
                        </div>
                        <q-separator />
                      </div>
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </div>
          </div>
        </div>
      </div>
    </q-page>
  </q-page>
</template>

<script>
import payrollsettingmapped from "../../js/payrollsettingmap";

export default {
  name: "MyPeriodDtrs",

  meta() {
    return {
      title: `My ${this.$route.params.period} Dtrs`,
    };
  },
  created() {
    try {
      this.$store.dispatch("dtrs/dtrs", this.$route.params.period);
    } catch (error) {
      console.log(`MainLayout Created Error : ${error}`);
    }
  },
  data() {
    return {
      filter: "",
      date: "2019/03/01",
      proxyDate: "2019/03/01",
      columns: [
        {
          name: "period",
          required: true,
          label: "Pay period",
          align: "left",
          field: (row) => row.period,
          format: (val) => `${val}`,
          sortable: true,
        },
      ],
    };
  },

  computed: {
    schedules() {
      return {
        "Time In": "time_in",
        "Time Out": "time_out",
        Break: "break",
        Restday: "restday",
      };
    },
    inputSize() {
      let size = {};
      if (this.$q.screen.gt.sm) {
        size = {
          width: "20vw",
        };
      }
      if (this.$q.screen.lt.md) {
        size = {
          width: "100vw",
        };
      }
      return size;
    },
    tableSize() {
      let size = {};
      if (this.$q.screen.gt.sm) {
        size = {
          width: "100%",
          height: "85vh",
        };
      }
      if (this.$q.screen.lt.md) {
        size = {
          width: "100vw",
          height: "85vh",
        };
      }
      return size;
    },
    data() {
      return this.$store.state.dtrs.dtrs_data;
    },
    loading() {
      return this.$store.state.dtrs.dtrs_loading;
    },

    payrollsettingmapped() {
      return payrollsettingmapped;
    },
    days() {
      return {
        "Days to work": "numberofdaystowork",
        "Days worked": "numberofdayswork",
        "No Sched": "noschedcount",
        Absences: "absences",
        Restday: "restday",
      };
    },
  },
  methods: {
    updateProxy() {
      this.proxyDate = this.date;
    },

    save() {
      this.date = this.proxyDate;
    },
    check(val) {
      console.log(val);
    },

    rowclick(evt, row, index) {
      try {
        return this.$router.push(`/dtr/${row.period}`);
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>