<template>
  <q-page padding>
    <div class="flex justify-between">
      <p class="text-h6 q-my-auto">Dtrs</p>
    </div>
    <q-page padding class="flex flex-center">
      <q-table
        :data="data"
        :columns="columns"
        :loading="loading"
        virtual-list
        hide-no-data
        row-key="period"
        :rows-per-page-options="[10]"
        :filter="filter"
        :style="tableSize"
        flat
        @row-click="rowclick"
      >
        <template v-slot:top>
          <q-space />
          <q-input
            borderless
            dense
            debounce="300"
            v-model="filter"
            placeholder="Search Payperiod"
            clearable
            outlined
            :style="inputSize"
          >
            <template v-slot:after>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>
      </q-table>
    </q-page>
  </q-page>
</template>

<script>
export default {
  name: "MyDtrs",
  meta: {
    title: "My Dtrs",
  },
  data() {
    return {
      filter: "",
      date: "2019/03/01",
      proxyDate: "2019/03/01",
      columns: [
        {
          name: "period",
          required: true,
          label: "Pay period",
          align: "left",
          field: (row) => row.period,
          format: (val) => `${val}`,
          sortable: true,
        },
      ],
    };
  },

  computed: {
    inputSize() {
      let size = {};
      if (this.$q.screen.gt.sm) {
        size = {
          width: "20vw",
        };
      }
      if (this.$q.screen.lt.md) {
        size = {
          width: "100vw",
        };
      }
      return size;
    },
    tableSize() {
      let size = {};
      if (this.$q.screen.gt.sm) {
        size = {
          width: "100%",
          height: "85vh",
        };
      }
      if (this.$q.screen.lt.md) {
        size = {
          width: "100vw",
          height: "85vh",
        };
      }
      return size;
    },
    data() {
      return this.$store.state.dtrs.data;
    },
    loading() {
      return this.$store.state.dtrs.loading;
    },
  },
  methods: {
    updateProxy() {
      this.proxyDate = this.date;
    },

    save() {
      this.date = this.proxyDate;
    },
    check(val) {
      console.log(val);
    },

    rowclick(evt, row, index) {
      try {
        return this.$router.push(`/dtr/${row.period}`);
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>