<template>
  <q-page padding>
    <div class="flex justify-between">
      <p class="text-h6 q-my-auto">Paysheets</p>
    </div>
    <q-page padding class="">
      <q-table
      @row-click="rowclick"
        :data="data"
        :columns="columns"
        virtual-list
        hide-no-data
        row-key="period"
        :rows-per-page-options="[10]"
    
        hide-header
        :filter="filter"
        :style="tableSize"
        flat

      >
        <template v-slot:top>
          <q-space />
          <q-input
            borderless
            dense
            debounce="300"
            v-model="filter"
            placeholder="Search Payperiod"
            clearable
            outlined
            :style="inputSize"
          >
            <template v-slot:after>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>
      </q-table>
    </q-page>
  </q-page>
</template>

<script>
const seed = [
  {
    period: "January 1-15th, 2021",
    days_worked: Math.floor(Math.random() * 15),
    absences: Math.floor(Math.random() * 5),
    restday: Math.floor(Math.random() * 2),
    no_Sched: Math.floor(Math.random() * 14)
  },

  {
    period: "December end of the month",
    days_worked: Math.floor(Math.random() * 15),
    absences: Math.floor(Math.random() * 5),
    restday: Math.floor(Math.random() * 2),
    no_Sched: Math.floor(Math.random() * 14)
  }
];

export default {
  name: "MyPaySheet",
  meta: {
    title: "My PaySheet"
  },
  data() {
    return {
      filter: "",
      date: "2019/03/01",
      proxyDate: "2019/03/01",
      columns: [
        {
          name: "period",
          required: true,
          label: "Period",
          align: "left",
          field: row => row.period_data.period,
          format: val => `${val}`,
          sortable: true
        }
      ]
    };
  },

  computed: {
    inputSize() {
      let size = {};
      if (this.$q.screen.gt.sm) {
        size = {
          width: "20vw"
        };
      }
      if (this.$q.screen.lt.md) {
        size = {
          width: "100vw"
        };
      }
      return size;
    },
    tableSize() {
      let size = {};
      if (this.$q.screen.gt.sm) {
        size = {
          width: "50vw",
          height: "85vh"
        };
      }
      if (this.$q.screen.lt.md) {
        size = {
          width: "100vw",
          height: "85vh"
        };
      }
      return size;
    },
    data() {
      return this.$store.state.paysheets.data;
    },
    loading() {
      return this.$store.state.paysheets.loading;
    }
    // data() {
    //   // we generate lots of rows here
    //   let data = [];
    //   for (let i = 0; i < 100; i++) {
    //     data = data.concat(seed.slice(0).map((r) => ({ ...r })));
    //   }
    //   data.forEach((row, index) => {
    //     row.index = index;
    //   });
    //   return Object.freeze(data);
    // },
  },
  methods: {
    rowclick(evt,row) {
      try {
        return this.$router.push(`/paysheet/${row.period_data.period}`);
      } catch (error) {
        console.log(error);
      }
    },
    updateProxy() {
      this.proxyDate = this.date;
    },

    save() {
      this.date = this.proxyDate;
    },
    check(val) {
      console.log(val);
    }
  }
};
</script>