<template>
  <q-page padding :class="`${flexing} bg-grey-11`">
    <q-card :style="cardSize" flat>
      <q-card-section align="center" v-if="$q.screen.lt.md">
        <!-- <img src="~assets/person.png" /> -->
        <img
          width="200"
          :src="
            me.picture.length > 0
              ? `http://128.199.227.37:8080/${me.picture[0]}`
              : '~assets/person.png'
          "
          alt="profile"
        />
      </q-card-section>
      <q-card-section class="row">
        <div class="col" align="center" v-if="$q.screen.gt.sm">
          <img
            width="200"
            :src="
              me.picture.length > 0
                ? `http://128.199.227.37:8080/${me.picture[0]}`
                : '~assets/person.png'
            "
          />
        </div>
      </q-card-section>
      <q-card-section class="row">
        <div class="col" align="center" >
          <q-btn
            flat
            label="Change Password"
            @click="openDialog = true"
            color="red"
          />
        </div>
      </q-card-section>

      <q-card-section class="row justify-center">
        <div>
          <div class="row">
            <div class="text-h6">{{ me.decent_name }}</div>
          </div>

          <div class="row items-baseline q-mt-sm">
            <div class="text-subtitle2 q-mr-sm">Email:</div>
            <div class="text-caption text-weight-regular">
              {{ me.email }}
            </div>
          </div>

          <div class="row items-baseline">
            <div class="text-subtitle2 q-mr-sm">Contact:</div>
            <div class="text-caption text-weight-regular">
              {{ me.contact_number }}
            </div>
          </div>

          <div class="row items-baseline">
            <div class="text-subtitle2 q-mr-sm">Address:</div>
            <div class="text-caption text-weight-regular">
              {{ me.address }}
            </div>
          </div>

          <div class="row items-baseline q-mt-sm">
            <div class="text-subtitle2 q-mr-sm">Employee ID:</div>
            <div class="text-caption text-weight-regular">
              {{ me.employee_id }}
            </div>
          </div>

          <div class="row items-baseline q-mt-sm">
            <div class="text-subtitle2 q-mr-sm">SSS:</div>
            <div class="text-caption text-weight-regular">
              {{ me.sss }}
            </div>
          </div>

          <div class="row items-baseline q-mt-sm">
            <div class="text-subtitle2 q-mr-sm">Philhealth:</div>
            <div class="text-caption text-weight-regular">
              {{ me.philhealth }}
            </div>
          </div>

          <div class="row items-baseline q-mt-sm">
            <div class="text-subtitle2 q-mr-sm">Pag-ibig:</div>
            <div class="text-caption text-weight-regular">
              {{ me.pagibig }}
            </div>
          </div>

          <div class="row items-baseline q-mt-sm">
            <div class="text-subtitle2 q-mr-sm">Department:</div>
            <div class="text-caption text-weight-regular">
              {{ me.departments_data.name }}
            </div>
          </div>

          <div class="row items-baseline q-mt-sm">
            <div class="text-subtitle2 q-mr-sm">Address:</div>
            <div class="text-caption text-weight-regular">
              {{ me.address }}
            </div>
          </div>
        </div>
      </q-card-section>
    </q-card>
    <ChangePass :openDialog="openDialog" @callback="openDialog = false" />
  </q-page>
</template>

<script>
import ChangePass from "../components/ChangePassword.vue";
export default {
  name: "Profile",
  meta: {
    title: "My Profile",
  },
  components: { ChangePass },
  computed: {
    me() {
      return this.$store.state.Auth.myProfile;
    },
    cardSize() {
      let size = {};
      if (this.$q.screen.gt.sm) {
        size = {
          width: "100vw",
        };
      }
      if (this.$q.screen.lt.md) {
        size = {
          width: "100vw",
        };
      }
      return size;
    },
    flexing() {
      let size = "";
      if (this.$q.screen.gt.sm) {
        size = "flex flex-center";
      }
      if (this.$q.screen.lt.md) {
        size = "flex";
      }
      return size;
    },
  },
  data() {
    return {
      openDialog: false,
    };
  },
};
</script>
