<template>
  <q-page class="flex flex-center">
    <q-card :style="formSize" outline class="shadow-10 q-px-md" bordered flat>
      <div class="flex justify-center">
        <p style="text-align: center" class="text-h6">YSEARCH SYSTEM</p>
      </div>
      <q-card-section>
        <q-input v-model="employee_id" type="number" label="Employee Id">
          <template v-slot:prepend>
            <q-icon name="person" />
          </template>
        </q-input>
        <q-input
          v-model="password"
          :type="isPwd ? 'password' : 'text'"
          label="Password"
        >
          <template v-slot:prepend> <q-icon name="lock" /> </template>

          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            /> </template
        ></q-input>
      </q-card-section>
      <q-card-actions align="center" class="q-mt-lg">
        <q-btn color="dark" label="Log in" @click="login" outline />
      </q-card-actions>
    </q-card>
  </q-page>
</template>

<script>
import { blankChecker } from "../js/checkers";
import { Loading } from "quasar";
export default {
  name: "SignIn",
  meta: {
    title: "Sign In ",
  },
  data() {
    return {
      isPwd: true,
      employee_id: "",
      password: "", // lastname
    };
  },
  mounted() {
    // console.log(this.token);
  },
  computed: {
    token() {
      return this.$store.state.Auth.token;
    },
    formSize() {
      let size = {};
      if (this.$q.screen.gt.sm) {
        size = {
          width: "35vw",
        };
      }
      if (this.$q.screen.lt.md) {
        size = {
          width: "95vw",
        };
      }
      return size;
    },
  },
  methods: {
    login() {
      const isValid = blankChecker([this, this.employee_id, this.password]);
      if (isValid) {
        this.$store.dispatch("Auth/SignIn", {
          employee_id: this.employee_id,
          password: this.password,
        });
      }
      if (!isValid) {
        this.$q.notify({
          color: "negative",
          textColor: "white",
          icon: "error",
          message: "Fill In All Inputs",
        });
      }
    },
  },
};
</script>
