<template>
  <q-page padding>
    <div class="flex justify-between">
      <p class="text-h6 q-my-auto">Paysheets</p>
    </div>
    <q-page padding class="">
      <div v-for="(item, index) in data" :key="index" class="">
        <q-card class="q-my-md">
          <q-card-section>
            <div class="text-h6 ">Salary</div>
            <q-separator />
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Basic</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.salary.basic }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Type</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.salary.type }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Taxable</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.salary.taxable ? "Yes" : "No" }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Daily Rate</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.salary.DailyRate }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Hourly Rate</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.salary.HourlyRate }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Minute Rate</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.salary.MinuteRate }}
                  </div>
                </div>
              </div>
            </div>
            <q-separator spaced />

            <div class="text-h6 ">Days</div>
            <q-separator />
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Days to Work</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.days.numberofdaystowork }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Days Worked</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.days.numberofdayswork }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">No Sched</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.days.noschedcount }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Absences</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.days.absences }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Rest Day</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.days.restday }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Leave</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.Leavepay }}
                  </div>
                </div>
              </div>
            </div>
            <q-separator spaced />

            <div class="text-h6 ">Benefits</div>
            <q-separator />
            <div v-for="(item, index) in item.data.paysheet.Allowances" :key="index">
              <div class="row">
                <div class="col">
                  <div class="row items-baseline">
                    <div class="col">
                      <p class="text-left q-my-auto">{{item.name}}</p>
                    </div>
                    <div class="col">
                      {{item.amount}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Total Benefits</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.TotalBenefits }}
                  </div>
                </div>
              </div>
            </div>
            <q-separator spaced />

            <div class="text-h6 ">Leaves</div>
            <q-separator />
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Total Leave</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.Leavepay }}
                  </div>
                </div>
              </div>
            </div>
            <q-separator spaced />

            <div class="text-h6 ">Gross Pay</div>
            <q-separator />
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Basic Pay</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.BasicPay }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Legal Pay</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.LegalHolidayPay }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Special Pay</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.SpecialHolidayPay }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Night Day Pay</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.NigthDifferentialPay }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Overtime Pay</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.OvertimePay }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Late / Undertime</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.Late_Undertime }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Absences</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.Absences }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Adjustment Pay</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.AdjustmentPay }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Total GrossPay</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.GrossPay }}
                  </div>
                </div>
              </div>
            </div>
            <q-separator spaced />

            
            <div class="text-h6 ">Deductions</div>
            <q-separator />
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">SSS</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.SSS }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Pag-ibig</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.Pagibig }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Philhealth</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.PhilHealth }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Wtax</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.WTAX }}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Auth to Deduct</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.AuthToDeduc }}
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Loans</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.Loans.total }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Total Deduction</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.TotalDeductions }}
                  </div>
                </div>
              </div>
            </div>
            <q-separator spaced />


            <div class="text-h6 ">Net Pay</div>
            <q-separator />
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Total Gross</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.GrossPay }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Total Benefits</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.TotalBenefits }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Leave Pay</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.Leavepay }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Total Deduction</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.TotalDeductions }}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="row items-baseline">
                  <div class="col">
                    <p class="text-left q-my-auto">Net Pay.</p>
                  </div>
                  <div class="col">
                    {{ item.data.paysheet.NetPay }}
                  </div>
                </div>
              </div>
            </div>

            <q-separator spaced />
          </q-card-section>
        </q-card>
      </div>
    </q-page>
  </q-page>
</template>

<script>
export default {
  name: "MyPaySheet",
  meta() {
    return {
      title: `My ${this.$route.params.period} Paysheet`
    };
  },
  data() {
    return {
      filter: "",
      date: "2019/03/01",
      proxyDate: "2019/03/01"
    };
  },

  computed: {
    inputSize() {
      let size = {};
      if (this.$q.screen.gt.sm) {
        size = {
          width: "20vw"
        };
      }
      if (this.$q.screen.lt.md) {
        size = {
          width: "100vw"
        };
      }
      return size;
    },
    tableSize() {
      let size = {};
      if (this.$q.screen.gt.sm) {
        size = {
          width: "50vw",
          height: "85vh"
        };
      }
      if (this.$q.screen.lt.md) {
        size = {
          width: "100vw",
          height: "85vh"
        };
      }
      return size;
    },
    data() {
      const filtered = this.$store.state.paysheets.data.filter(
        val => val.period_data.period === this.$route.params.period
      );
      return filtered;
    },
    loading() {
      return this.$store.state.paysheets.loading;
    }
    // data() {
    //   // we generate lots of rows here
    //   let data = [];
    //   for (let i = 0; i < 100; i++) {
    //     data = data.concat(seed.slice(0).map((r) => ({ ...r })));
    //   }
    //   data.forEach((row, index) => {
    //     row.index = index;
    //   });
    //   return Object.freeze(data);
    // },
  },
  methods: {
    updateProxy() {
      this.proxyDate = this.date;
    },

    save() {
      this.date = this.proxyDate;
    },
    check(val) {
      console.log(val);
    }
  }
};
</script>