<template>
  <q-dialog v-model="openDialog" persistent>
    <q-card :style="cardSize">
      <q-card-section class="col items-center">
        <q-input
          v-model="oldpass"
          type="password"
          floating-label
          label="Old Password"
          placeholder="Current Password"
          :rules="[(val) => !!val || 'Field is required']"
          lazy-rules
          label-color="dark"
          outlined
          color="dark"
        />
        <q-input
          v-model="newpass"
          type="password"
          floating-label
          label="New Password"
          placeholder="New Password"
          :rules="[(val) => !!val || 'Field is required']"
          lazy-rules
          label-color="dark"
          outlined
          color="dark"
        />
        <q-input
          v-model="confpass"
          type="password"
          floating-label
          label="Confirm New Password"
          placeholder="Confirm New Password"
          :rules="[(val) => !!val || 'Field is required']"
          lazy-rules
          label-color="dark"
          outlined
          color="dark"
        />
      </q-card-section>
      <q-separator spaced dark />
      <q-card-actions align="right">
        <q-btn
          flat
          label="Close"
          color="red"
          v-close-popup
          @click="closeDialog"
        />
        <q-btn flat label="Change" color="dark" @click="ChangePassword" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import { blankChecker } from "../js/checkers";
export default {
  name: "ChangePassword",
  props: {
    openDialog: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      oldpass: "",
      newpass: "",
      confpass: "",
    };
  },
  methods: {
    ChangePassword(){
      const isvalid = blankChecker([this.oldpass,this.newpass,this.confpass]);
      if(!isvalid){
        return this.$q.notify({
          type:'negative',
          icon:'error',
          message:'Input All Fields!'
        })
      }
      if(this.newpass != this.confpass){
        return this.$q.notify({
          type:'negative',
          icon:'error',
          message:'New Password Dont Match with Confirm Password'
        })
      }
      this.$store.dispatch('Auth/ChangePassword',{
        oldPassword:this.oldpass,
        newPassword:this.newpass
      })
    },
    closeDialog() {
      let dialog = this.openDialog;
      dialog = false;
      this.$emit("callback", false);
    },
  },
  computed: {
    cardSize() {
      let size = {};
      if (this.$q.screen.gt.sm) {
        size = {
          width: "50vw",
        };
      }
      if (this.$q.screen.lt.md) {
        size = {
          width: "100vw",
        };
      }
      return size;
    },
  },
};
</script>
