<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-dark">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title> </q-toolbar-title>
        <!-- <q-space /> -->
        <q-btn color="dark" label="logout" @click="confirm = true" />
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2 q-pt-xl"
    >
      <q-list>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section>
          <span class="q-ma-sm">Are you sure you want to logout ?</span>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn flat label="Logout" @click="logout" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-layout>
</template>

<script>
import EssentialLink from "components/EssentialLink.vue";

const linksData = [
  {
    title: "Dtr",
    caption: "",
    icon: "home",
    link: "/home",
  },
  {
    title: "My PaySheet",
    caption: "",
    icon: "payment",
    link: "/paysheet",
  },
  {
    title: "My Profile",
    caption: "",
    icon: "person",
    link: "/me",
  },
];

export default {
  name: "MainLayout",
  components: { EssentialLink },
  data() {
    return {
      confirm: false,
      leftDrawerOpen: false,
      essentialLinks: linksData,
    };
  },
  created() {
    try {
      this.$store.dispatch("paysheets/get");
      this.$store.dispatch("dtrs/get");
    } catch (error) {
      console.log(`MainLayout Created Error : ${error}`);
    }
  },
  methods: {
    logout() {
      this.$store.dispatch("Auth/logout");
    },
  },
};
</script>
